<div class="container-register">
  <p-toast position="top-right"></p-toast>
  <div class="register-card">
    <form #form="ngForm" (ngSubmit)="registerUser(form)">
      <h5 class="register-heading">Please Register Yourself!!</h5>
      <div class="p-fluid p-grid">
          <div class="form-container field col-12 md:col-12">
              <span class=" p-float-label">
                <input type="text" id="email" pInputText [(ngModel)]="userReg.email_id" />
                <label for="email">Enter your email</label>
              </span>
          </div>
          <div class="form-container field col-12 md:col-12">
            <span class="p-float-label">
              <input type="text" id="username" pInputText [(ngModel)]="userReg.username" />
              <label for="username">Create a username</label>
            </span>
          </div>
          
          <div class="form-container field col-12 md:col-12">
              <span class="p-float-label">
                <p-password inputId="password" [(ngModel)]="userReg.password" [feedback]="false" [toggleMask]="true"></p-password>
                <label for="password">Create a password</label>
              </span>
          </div>
          <div class="form-container field col-12 md:col-12">
              <span class="p-float-label">
                <p-inputNumber inputId="calories" [(ngModel)]="userReg.calorie_settings"></p-inputNumber>
                <label for="calories">Set your calories</label>
              </span>
          </div>
          <div *ngIf="regError && regError.length>0" class="form-container p-col-6 p-md-6">
              <p-message severity="error" text="{{regError}}"></p-message>
          </div>
      </div>
      <div class="button-container field col-12 md:col-12">
          <button style="width:144px" pButton type="submit" pRipple label="Sign Up" class="p-button-raised">
          </button>
      </div>
    </form>
  </div>
</div>